@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
    --color-body:#00040F;
    --color-primary:#000000;
    --color-secondary:#ffffff;
    --color-jaguar:#33BBCF;
    --color-paleblue:#BEF3F5;
}

/*  */
.header{
    @apply text-white text-lg font-normal hover:text-jaguar duration-500;
}
.ai-container{
    @apply  max-w-7xl mx-auto px-5;
}
.ai-button{
    @apply rounded-lg text-lg font-medium py-4 px-12 inline-block;
}
/* light and dark mood css */
.text-mood{
    @apply text-black dark:text-slate-300;
}
.heading-text-mood{
    @apply text-black dark:text-white;
}
.bg-mood{
    @apply bg-white dark:bg-body;
}
/* Footer apply css */
.footer-menu{
    @apply block text-lg font-normal mb-2 text-slate-300 hover:underline hover:text-[#5CE1E6] duration-500;
}
.footer-social-menu{
    @apply text-white text-2xl hover:text-jaguar duration-500;
}